<div class="monitoring-container">
  <h1 class="title">{{ title }}</h1>

  <div class="content">
    <div class="data-block">
      <div class="device-session-cards">
        <div *ngFor="let deviceSession of deviceSessions; let i = index" class="device-session-card">
          <div class="session-header">
            <h2>{{ deviceSession.name }}</h2>
            <button class="close-btn" (click)="removeDeviceSession(deviceSession.sessionId)">✖</button>
          </div>
          <div class="session-body">
            <p><strong>Version:</strong> {{ deviceSession.version }}</p>
            <p><strong>Device Id:</strong> {{ deviceSession.id }}</p>
            <p><strong>Session Id:</strong> {{ deviceSession.sessionId }}</p>
            <p><strong>Start Time:</strong> {{ deviceSession.startTime }}</p>
            <p><strong>End Time:</strong> {{ deviceSession.endTime }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="update-buttons">
    <button (click)="loadDeviceSessions()" class="btn-common btn-update">Update</button>
    <button (click)="saveDeviceSessionsBackup()" class="btn-common btn-backup-save">Save Backup</button>
    <button (click)="loadDeviceSessionsBackup()" class="btn-common btn-backup-load">Load Backup</button>
    <button (click)="downloadDeviceSessionsBackup()" class="btn-common btn-backup-download">Download Backup</button>
    <button (click)="deleteDeviceSessionsBackup()" class="btn-common btn-backup-delete">Delete Backup</button>
  </div>

</div>
